[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ostos
Exec=harbour-ostos
Name=Cartmana
# translation example:
# your app name in Finnish locale (fi)
Name[fi]=Ostos
Name[en]=Cartmana
Name[es]=Karrito
Name[de]=Karren
