[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ostos
Exec=harbour-ostos
Name=Ostos
# translation example:
# your app name in Finnish locale (fi)
Name[fi]=Ostos
Name[en]=Basket
Name[es]=Cesta
Name[de]=Warenkorb
Name[sv]=Varukorg
Name[fr]=Panier
