[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ostos
Exec=harbour-ostos
Name=Cart Manager
# translation example:
# your app name in Finnish locale (fi)
Name[fi]=Kärry
Name[en]=Cartmana
Name[es]=Karrito
Name[de]=Karren
