body { margin: 20 ; bgcolor: DarkSlateGrey }
h1 { font-family: "arial" }
h2 { font-family: "arial" }
p { font-family: "arial" }
li { margin: 5px; vertical-align: middle; }
li.nobullet { margin: 5px; vertical-align: middle; list-style-type:none }
img { box-align: center; vertical-align: middle; horizontal-align: middle; margin: 10px; width: 35px }
